# Common settings
ALLOW_ALL_ORIGINS="True"

# JWT settings
JWT_SECRET="jwt_secreta"
REFRESH_SECRET="refresh_secret"
ACCESS_TOKEN_EXPIRE_MINUTES="15"
REFRESH_TOKEN_EXPIRE_DAYS="7"

# Users data
ADMIN_EMAIL="admin_email"
ADMIN_PASSWORD="admin_password"

# PostgreSQL
POSTGRES_USER="postgres_user"
POSTGRES_PASSWORD="postgres_password"
POSTGRES_DB="postgres_db"
POSTGRES_PORT="postgres_port"
DB_URL=postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@postgres:5432/${POSTGRES_DB}
DB_ASYNC_URL=postgresql+asyncpg://${POSTGRES_USER}:${POSTGRES_PASSWORD}@postgres:5432/${POSTGRES_DB}

# Object storage
OBJECT_STORAGE_ACCESS_KEY="value"
OBJECT_STORAGE_SECRET_KEY="value"
OBJECT_STORAGE_ENDPOINT_URL="value"
OBJECT_STORAGE_BUCKET_NAME="value"
OBJECT_STORAGE_REGION_NAME="value"